@using Util
@using SistemaFloricultura.Models
@model ProdutoModel
@{
    ViewBag.Title = "CadastroPedido";
}

<div class="jumbotron jumbotron-body">
    <h2>Solicitação de Pedido</h2>
    <section id="cadastroProdutoForm">
        @using (Html.BeginForm("SalvarPedido", "CadastroPedido", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Nome, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PrecoCusto, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.PrecoCusto, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PrecoVenda, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.PrecoVenda, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Descricao, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", @rows = 3 })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.DataAquisicao, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.DataAquisicao, new { @class = "form-control date" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-10 col-md-2">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk" /> Salvar</button>
                </div>
            </div>
        }
    </section>
</div>
<script src="~/scripts/jquery.maskedinput.min.js"></script>
<script>
    $(document).ready(function () {
        $('.date').mask('00/00/0000');
        $('.money').mask('000.000.000.000.000,00', { reverse: true });
    });
</script>