@using Util
@using SistemaFloricultura.Models
@using System.Globalization
@model PedidoModel
@{
    ViewBag.Title = "CadastroPedido";
}

<div class="jumbotron jumbotron-body">
    <h2>Solicitação de Pedido</h2>
    <div class="container">
        @*<div class="category-products">

            @if (Model == null || !Model.Any())
            {
                <h3>Nenhum produto encontrado.</h3>
            }
            else
            {
                <ul class="products-grid category-products-grid itemgrid itemgrid-adaptive itemgrid-4col hover-effect size-s">

                    @foreach (var produto in Model)
                    {
                        <li class="item">
                            <div class="product-image-wrapper" style="max-width:220px;">
                                <a href="@Url.Action("Index", "CadastroProduto", new { id_produto = produto.Id})" title="@produto.Nome">
                                    @if (produto.ImagemPrincipal != null)
                                    {
                                        <img src=@String.Concat("data:image/png;base64," + Convert.ToBase64String(produto.ImagemPrincipal.ImagemBytes)) alt="@produto.Nome" pagespeed_no_transform="">
                                    }
                                    else
                                    {
                                        <img src="~/fonts/insiraumaimagem.jpg" alt="@produto.Nome" pagespeed_no_transform="">
                                    }
                                </a>
                            </div>

                            <h2 class="product-name"><a href="@Url.Action("Index", "CadastroProduto", new { id_produto = produto.Id})" title="@produto.Nome"><p style="max-width: 50ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center;">@produto.Nome</p></a></h2>

                            <div class="price-box">
                                <span class="regular-price" id="product-price-7">
                                    <span class="price">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", produto.PrecoVenda)</span>
                                </span>
                                <span class="preco-12x-label">à vista</span>
                                <span class="preco-12x-list" style="font-size: 13px !important;">Não Perca!</span>
                            </div>

                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:280%"></div>
                                </div>
                                <span class="amount">Add Carrinho</span>
                            </div>

                            <div class="actions clearer display-onhover" style="width: 90%; display: none; opacity: 1;">
                                <span style="font-size: 14px; margin-top: -5px;">  Floricultura em Atibaia </span><br><span class="entrega-list">Entregamos Hoje!</span>
                                <button type="button" title="COMPRAR" class="button btn-cart tamanho-button" onclick="setLocation('//www.isabelaflores.com/checkout/cart/add/uenc/aHR0cHM6Ly93d3cuaXNhYmVsYWZsb3Jlcy5jb20vZmxvcmVzLWF0aWJhaWEuaHRtbD9nY2xpZD1FQUlhSVFvYkNoTUkzLV9Ba0otQTF3SVZDQVNSQ2gxVTh3VkVFQUFZQVNBQUVnSm5XdkRfQndF/product/7/')"><span><span>COMPRAR</span></span></button>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>*@
    </div>
</div>
<link href="~/content/gridproduto.css" rel="stylesheet" />
