@using Util
@using SistemaFloricultura.Models
@using System.Globalization
@model List<ProdutoModel>
@{
    ViewBag.Title = "Listagem de Produtos";
}

<div class="jumbotron jumbotron-body">
    <h2>Catálogo de Produtos</h2>
    <div class="container">
        <div class="category-products">

            @if (Model == null || !Model.Any())
            {
                <h3>Nenhum produto encontrado.</h3>
            }
            else
            {
                <ul class="products-grid category-products-grid itemgrid itemgrid-adaptive itemgrid-4col hover-effect size-s">

                    @foreach (var produto in Model)
                    {
                        <li class="item">
                            <div class="product-image-wrapper" style="max-width:220px;">
                                <a href="@Url.Action("Index", "CadastroProduto", new { id_produto = produto.Id})" title="@produto.Nome">
                                    @if (produto.ImagemPrincipal != null)
                                    {
                                        <img src=@String.Concat("data:image/png;base64," + Convert.ToBase64String(produto.ImagemPrincipal.ImagemBytes)) alt="@produto.Nome" pagespeed_no_transform="">
                                    }
                                    else
                                    {
                                        <img src="~/fonts/insiraumaimagem.jpg" alt="@produto.Nome" pagespeed_no_transform="">
                                    }
                                </a>
                            </div>

                            <h2 class="product-name"><a href="@Url.Action("Index", "CadastroProduto", new { id_produto = produto.Id})" title="@produto.Nome"><p style="max-width: 50ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center;">@produto.Nome</p></a></h2>

                            <div class="price-box">
                                <span class="regular-price" id="product-price-7">
                                    <span class="price">@string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", produto.PrecoVenda)</span>
                                </span>
                                <span class="preco-12x-label">à vista</span>
                                <span class="preco-12x-list" style="font-size: 13px !important;">Não Perca!</span>
                            </div>

                            <div class="ratings">
                                <div class="rating-box">
                                    <div class="rating" style="width:280%"></div>
                                </div>
                                <button class="amount botao-comprar btn btn-success" value="@produto.Id">Comprar</button>
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
<link href="~/content/gridproduto.css" rel="stylesheet" />
<script>
    var urlAdicionarProduto = '@Url.Action("AdicionarCarrinho", "CadastroPedido")';

    $(document).ready(function () {

        $('.botao-comprar').on('click', function () {
            adicionarCarrinho($(this).val());
        });

    });

    function adicionarCarrinho(idProduto) {
        $.ajax({
            url: urlAdicionarProduto,
            type: 'post',
            data: { idProduto: idProduto},
            beforeSend: function () {}
        })
        .done(function (resultado) {
            if (resultado != null) {
                if (resultado.sucesso === true) {
                    jbkrAlert.sucesso('Sucesso', resultado.mensagem);
                }
                else {
                    jbkrAlert.erro('Erro', resultado.mensagem);
                }
            }
        })
        .fail(function (jqXHR, textStatus, msg) {
            exibirPopupErro(msg);
        });
    }

    function exibirPopupSucesso(msg) {
        var popup= $('<div>');
        popup.append(msg);
        $('body').append(popup);
        popup.css("position","absolute");
        popup.css("top", ($(window).height() - popup.height() ) / 2+ $(window).scrollTop() + "px");
        popup.css("left", ($(window).width() - popup.width() ) / 2+ $(window).scrollLeft() + "px");

        popup.fadeOut(3000);
    }

    function exibirPopupErro(msg) {
        var popup= $('<div>');
        popup.append(msg);
        $('body').append(popup);
        popup.css("position","absolute");
        popup.css("top", ($(window).height() - popup.height() ) / 2+ $(window).scrollTop() + "px");
        popup.css("left", ($(window).width() - popup.width() ) / 2+ $(window).scrollLeft() + "px");

        popup.fadeOut(3000);
    }

</script>

